* {
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000;
}



/* QUER SAIR COMIGO? */

.painel {
    margin: auto;
    background-color: #fff;
    width: 500px;
    height: 500px;
    border-radius: 20px;
    text-align: center;
    padding-top: 50px;
    color: red;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.painel h2 {
    color: #000;
}

#sim {
    width: 100px;
    height: 50px;
    background-color: red;
    border: 2px solid #fff;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    transition: tramsform .65s ease;
    font-size: 20px;
}

#sim:hover {
    opacity: 1.1;
    background-color: #730606e7;
}

#nao {
    position: absolute;
    width: 100px;
    height: 50px;
    background-color: red;
    border: 2px solid #fff;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    transition: tramsform .65s ease;
    margin-left: 20px;
    font-size: 20px;
}

.sair {
    padding-top: 40px;
    padding-right: 100px;
}



/* QUER SAIR COMIGO? */

.painel-dia {
    margin: auto;
    background-color: #fff;
    width: 500px;
    height: 500px;
    border-radius: 20px;
    text-align: center;
    padding-top: 50px;
    color: red;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.dia {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 70px;
    padding-right: 35px;
}


.dia1 {
    width: 100px;
    height: 50px;
    background-color: red;
    border: 2px solid #fff;
    border-radius: 10px;
    color: #fff;
    margin-left: -50px;
    cursor: pointer;
    transition: tramsform .65s ease;
    font-size: 20px;
}

.dia2 {
    position: absolute;
    width: 100px;
    height: 50px;
    background-color: red;
    border: 2px solid #fff;
    border-radius: 10px;
    color: #fff;
    margin-left: 10px;
    cursor: pointer;
    transition: tramsform .65s ease;
    font-size: 20px;
}

.dia1:hover {
    opacity: 1.1;
    background-color: #730606e7;
}

.dia2:hover {
    opacity: 1.1;
    background-color: #730606e7;
}



/* CONFIRMAÇAO */

.painel-confirmacao {
    margin: auto;
    background-color: #fff;
    width: 500px;
    height: 500px;
    border-radius: 20px;
    text-align: center;
    padding-top: 50px;
    color: red;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.img-sapo {
    margin: auto;
    background-color: #fff;
    width: 287px;
    height: 276px;
}


.confirme {
    padding-top: 30px;
}

.confirme1 {
    width: 12vw;
    height: 60px;
    background-color: red;
    border: 2px solid #fff;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
}




@media (max-width:768px) {

    body {
        background-color: #fff;
    }

    .painel {
        margin: auto;
        width: auto;
        height: 23vw;
        border-radius: 20px;
        text-align: center;
        padding-top: 16vw;
        color: red;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    .painel h1 {
        font-size: 32px;
        height: 75px;
        font-weight: bold;
    }

    #sim {
        width: 30vw;
        height: 60px;
        font-size: 18px;
        font-weight: 700;
    }

    #nao {
        width: 30vw;
        height: 60px;
        font-size: 18px;
        font-weight: 700;
    }

    .sair {
        padding-top: 25vw;
        padding-right: 34vw;
    }


    .bob-img {
        width: 297px;
        height: 285px;
    }


    .painel-dia {
        margin: auto;
        width: auto;
        height: 23vw;
        border-radius: 20px;
        text-align: center;
        padding-top: 23vw;
        color: red;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    .painel-dia h1 {
        font-size: 32px;
        height: 75px;
        font-weight: bold;
    }

    .dia {
        padding-top: 25vw;
        padding-right: 20vw;
    }

    .dia1 {
        width: 30vw;
        height: 60px;
        font-size: 20px;
        font-weight: 700;
    }

    .dia2 {
        width: 30vw;
        height: 60px;
        font-size: 20px;
        font-weight: 700;
    }

    .esponja-dia {
        width: 297px;
        height: 285px;
    }

    .painel-confirmacao {
        margin: auto;
        width: auto;
        height: 23vw;
        border-radius: 20px;
        text-align: center;
        padding-top: 50vw;
        color: red;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    .confirme {
        padding-top: 20vw;
    }

    .confirme1 {
        width: 50vw;
        height: 80px;
        font-size: 23px;
        font-weight: 700;
    }

    .img-sapo {
        width: 297px;
        height: 285px;
    }
}